/* Icon Colors */
/* fa2d2d */
/* f2af58 */

.messageShowingArea {
  border: 0.1px solid #f9f9f9;
  overflow-x: hidden;
  overflow-y: auto;
  height: 35em;
}
.inputAndMessage {
  border: 0.1px solid #f9f9f9;
  border-radius: 5px;
}

.messageNameTitle {
  border-bottom: 0.1px #f9f9f9 solid;
}

.senderMessageBox,
.recieverMessageBox {
  border: 1px solid white;
  border-radius: 7px;
  max-width: 45%;
}

.senderMessageBox {
  float: right;
  background-color: lightcyan;
  color: darkcyan;
}

.recieverMessageBox {
  float: left;
  background-color: #f0f0f0;
  color: black;
}
