/* Icon Colors */
/* fa2d2d */
/* f2af58 */

.messageShowingArea {
  border: 0.3px solid gray;
  height: 40em;
}
.inputAndMessage {
  border: 0.3px solid gray;
  border-radius: 5px;
}

.messageNameTitle {
  border-bottom: 0.3px gray solid;
  color: #f2af58;
}

.tenatMessageBox,
.landLordMessageBox {
  border: 1px solid white;
  border-radius: 5px;
  max-width: 45%;
}

.landLordMessageBox {
  float: right;
  background-color: #fa2d2d;
  color: white;
}

.tenatMessageBox {
  float: left;
  background-color: #f2af58;
  color: white;
}
