/* Icon Colors */
/* fa2d2d */
/* f2af58 */

.properties {
  display: flex;
  flex-wrap: wrap;
}

.propertyCard {
  margin: 1em;
}

.display-2 {
  color: #fa2d2d;
}

.propertyBtn {
  width: 80px;
}

.propertyCardLink {
  color: #000;
}

.propertyCardLink:hover {
  color: #f2af58;
}
